.player {
  display: flex;
  align-items: center;
}

.song {
  display: flex;
  align-items: center;
  gap: 10px;

  flex: 1;

  animation: song 0.5s var(--trans-function-ani);
}

@keyframes song {
  from {
    translate: 0 4px;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}

.songInfo {
  display: flex;
  flex-direction: column;
}

.name {
  color: oklch(var(--c2));

  & > a:not(:hover) {
    color: inherit;
  }
}

.artists {
  color: oklch(var(--c2) / 60%);

  display: flex;
  gap: 4px;
}

.artist {
  display: flex;

  & > a:not(:hover) {
    color: oklch(var(--c2) / 80%);
  }
}

.art {
  --w: 60px !important;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 300px;
}

.right {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
}

.action {
  --button-verts: var(--button-sides);
  --button-sides: 7px;

  --bg: transparent;
  --bg-hov: oklch(var(--b4) / 60%);
  --bg-atv: oklch(var(--b4) / 80%);
  --shadow: none;

  &.actionActive {
    --bg: oklch(var(--h4) / 10%);
    --bg-hov: oklch(var(--h4) / 15%);
    --bg-atv: oklch(var(--h4) / 20%);
    --col: oklch(var(--l3-c));
  }
}

.volumeRoot {
  width: 140px !important;
  height: 40px !important;
}


.playerRoot {
  width: 400px !important;
  height: 40px !important;
  margin: -20px 0 !important;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.time {
  font-size: 13px;
  color: oklch(var(--c3));

  width: 40px;
  text-align: center;
}

.volume {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 10px;
}

.top {
  position: relative;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.play {
  --button-sides: var(--button-verts);
  --button-verts: 11px;

  /*--bg: oklch(var(--c2));
  --bg-hov: oklch(var(--c2) / 90%);
  --bg-atv: oklch(var(--c2) / 80%);
  --col: oklch(var(--b6));
  --shadow: none;*/
  border-radius: 50px;
}

.explicit {
  --w: 14px;
  width: var(--w);
  min-width: var(--w);
  height: var(--w);
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 10px;
  line-height: 6px;

  background-color: oklch(var(--c3));
  color: oklch(var(--b6));
  font-weight: var(--font-weight-bold);

  position: relative;
  top: 2px;
}

.loved {
  color: oklch(var(--l3-c));
}