.player {
  display: flex;
  align-items: center;
}

.song {
  display: flex;
  align-items: center;
  gap: 10px;

  width: 300px;
}

.songInfo {
  display: flex;
  flex-direction: column;
}

.name {
  color: oklch(var(--c2));

  & > a:not(:hover) {
    color: inherit;
  }
}

.artists {
  color: oklch(var(--c2) / 80%);

  & > a:not(:hover) {
    color: inherit;
  }
}

.art {
  --w: 60px !important;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.right {
  width: 300px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.volumeRoot {
  position: relative;
  display: flex;
  align-items: center;
  touch-action: none;

  width: 180px;
  height: 40px;

  &:not(:hover, :active) {
    .volumeThumb {
      opacity: 0;
      transform: scaleY(0);
    }
  }

  cursor: pointer;
}

.volumeTrack {
  background-color: oklch(var(--b4));
  position: relative;
  flex-grow: 1;
  border-radius: 50px;
  height: 4px;
}

.volumeRange {
  position: absolute;
  background-color: oklch(var(--l3-c));
  box-shadow: var(--primary-shadow);
  border-radius: 50px;
  height: 100%;
}

.volumeThumb {
  display: block;
  width: 8px;
  height: 16px;

  background-color: oklch(var(--l3-c));
  box-shadow: var(--primary-shadow);
  border-radius: var(--button-radius);

  transition-property: opacity, transform;
  transition-duration: var(--trans);
  transition-timing-function: var(--trans-function);

  outline: none !important;
}


.playerRoot {
  position: relative;
  display: flex;
  align-items: center;
  touch-action: none;

  width: 400px;
  height: 40px;
  margin: -20px 0;

  &:not(:hover, :active) {
    .playerThumb {
      opacity: 0;
      transform: scaleY(0);
    }
  }

  cursor: pointer;
}

.playerTrack {
  background-color: oklch(var(--b4));
  position: relative;
  flex-grow: 1;
  border-radius: 50px;
  height: 4px;
}

.playerRange {
  position: absolute;
  background-color: oklch(var(--l3-c));
  box-shadow: var(--primary-shadow);
  border-radius: 50px;
  height: 100%;
}

.playerThumb {
  display: block;
  width: 8px;
  height: 16px;

  background-color: oklch(var(--l3-c));
  box-shadow: var(--primary-shadow);
  border-radius: var(--button-radius);

  transition-property: opacity, transform;
  transition-duration: var(--trans);
  transition-timing-function: var(--trans-function);

  outline: none !important;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.time {
  font-size: 13px;
  color: oklch(var(--c3));

  width: 40px;
  text-align: center;
}

.volume {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top {
  position: relative;
  z-index: 10;
}


.play {
  --button-sides: var(--button-verts);
  --button-verts: 9px;

  /*--bg: oklch(var(--c2));
  --bg-hov: oklch(var(--c2) / 90%);
  --bg-atv: oklch(var(--c2) / 80%);
  --col: oklch(var(--b6));
  --shadow: none;*/
  border-radius: 50px;
}