.popover {
  background-color: oklch(var(--b8));
  padding: 10px;
  border-radius: var(--item-small-radius);
  box-shadow: var(--menu-shadow);

  animation-duration: var(--trans);
  animation-timing-function: var(--trans-function);

  &[data-state="open"][data-side="bottom"] {
    animation-name: fromTop;
  }
  &[data-state="open"][data-side="top"] {
    animation-name: fromBottom;
  }
}

@keyframes fromTop {
  from {
    translate: 0 -4px;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes fromBottom {
  from {
    translate: 0 4px;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}