.song {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;

  --bg: transparent;
  --bg-hov: oklch(var(--b4) / 30%);
  --col: var(--c2);
  color: oklch(var(--col)) !important;
  background-color: var(--bg);
  border-radius: var(--item-med-radius);

  &:hover {
    background-color: var(--bg-hov);
    transition: none;
  }

  text-decoration: none !important;

  transition-property: background-color;
  transition-duration: var(--trans);
  transition-timing-function: var(--trans-function);
}

.active {
  --bg: oklch(var(--h4) / 10%);
  --bg-hov: oklch(var(--h4) / 15%);
  --col: var(--l3-c);
}

.duration,
.index {
  color: oklch(var(--c3));
}

.art {
  --w: 36px;
  border-radius: var(--item-small-radius) !important;
}

.index {
  width: 18px;

  &.activeIndex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.duration {
  width: 40px;
  text-align: right;
}

.activeIndicator {
  color: oklch(var(--col));

  /*&.activeIndicatorPlaying {
    animation: activeIndicator 4s var(--trans-function-ani) infinite;
  }*/
}

@keyframes activeIndicator {
  from, to {
    scale: 0.6;
  }
  40% {
    scale: 1.1;
  }
}

.name {
  font-weight: var(--font-weight);
}

.artists {
  color: oklch(var(--col) / 60%);

  display: flex;
  gap: 4px;
}

.artist {
  display: flex;

  & > a:not(:hover) {
    color: oklch(var(--col) / 80%);
  }
}

.info {
  flex: 1;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.action {
  --button-verts: var(--button-sides);
  --button-sides: 6px;

  --bg: transparent;
  --bg-hov: oklch(var(--b4) / 60%);
  --bg-atv: oklch(var(--b4) / 80%);
  --shadow: none;
}