.menu {
  background-color: oklch(var(--b8) / 80%);
  backdrop-filter: var(--solarium);
  padding: 4px !important;
  border-radius: calc(var(--item-med-radius) + 4px) !important;
  box-shadow: var(--menu-shadow);
  border: 1px solid var(--card-border-base);

  animation-duration: var(--trans);
  animation-timing-function: var(--trans-function);

  animation-name: fromTop;

  display: flex;
  flex-direction: column;
  gap: 1px;

  z-index: 10000;
}

.header {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

@keyframes fromTop {
  from {
    translate: 0 -4px;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes fromBottom {
  from {
    translate: 0 4px;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}

.divider {
  border: none;
  height: 1px;
  background: var(--separator-base);
  /* 3px as theres a 1px gap */
  margin: 3px var(--button-sides);
}
