.menu {
  background-color: oklch(var(--b8) / 90%);
  backdrop-filter: var(--solarium);
  padding: 4px !important;
  border-radius: calc(var(--item-med-radius) + 4px) !important;
  box-shadow: var(--menu-shadow);
  border: 1px solid var(--card-border-base);
}
