.group {
  display: flex;
  flex-direction: column;
  overflow-x: auto;

  padding: 0 var(--pad);
  margin: 0 calc(-1 * var(--pad));
}

.list {
  display: flex;
  flex-direction: column;
  gap: 50px;

  position: relative;
}

.label {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: var(--font-weight-medium);
  color: oklch(var(--c1));
}
