.header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: var(--pad);
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 6px;

  z-index: 1;
}

.name {
  font-size: 24px;
  line-height: 28px;
  color: oklch(var(--c1));
  font-weight: var(--font-weight);
}

.artists {
  font-size: 20px;
  line-height: 24px;
  color: oklch(var(--c2));
  font-weight: var(--font-weight);

  & > a:not(:hover) {
    color: inherit;
  }
}

.type {
  color: oklch(var(--c3));
  font-size: 13px;
}

.buttons {
  display: flex;
  gap: 6px;
  margin-bottom: calc(var(--pad) * 2);

  position: relative;
  z-index: 1;
}

.background {
  position: absolute;
  inset: calc(-1 * var(--pad)) calc(-1 * var(--pad)) -100px calc(-1 * var(--pad));

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  --mask: linear-gradient(0deg, transparent, white);
  mask-image: var(--mask);

  opacity: 0.2;

  pointer-events: none;
}