.aside {
  --aside-width: 380px;

  width: var(--aside-width);
  padding: var(--pad);
  box-shadow: inset 0 0 0 1px var(--card-border-base);
  border-radius: var(--card-radius);

  display: flex;
  flex-direction: column;
  pointer-events: auto;

  transition-property: margin-right, opacity;
  transition-duration: 0.3s;
  transition-timing-function: var(--trans-function);
}

.hide {
  margin-right: calc(-1 * (var(--aside-width) + var(--pad)));
  opacity: 0;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: var(--pad);
}

.iconbg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: var(--item-small-radius);
  background: oklch(var(--h4) / 10%);
  color: oklch(var(--l3-c));
}

.label {
  font-size: 16px;
  line-height: 20px;
  font-weight: var(--font-weight-medium);
  color: oklch(var(--c1));
}
