.tooltip {
  padding: 4px 8px;
  background-color: oklch(var(--b4));
  border-radius: var(--item-small-radius);
  box-shadow: var(--card-shadow);
  color: oklch(var(--c2));

  font-size: 13px;

  animation-duration: var(--trans);
  animation-timing-function: var(--trans-function);

  &[data-state="delayed-open"][data-side="bottom"] {
    animation-name: fromTop;
  }
  &[data-state="delayed-open"][data-side="top"] {
    animation-name: fromBottom;
  }
}

@keyframes fromTop {
  from {
    translate: 0 -4px;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes fromBottom {
  from {
    translate: 0 4px;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}