.button {
  --bg: oklch(var(--b3));
  --bg-hov: color-mix(in oklch, oklch(var(--b6)), oklch(var(--b3)) 90%);
  --bg-atv: color-mix(in oklch, oklch(var(--b6)), oklch(var(--b3)) 80%);
  --col: oklch(var(--c2));
  --shadow: var(--normal-shadow), var(--interact-shadow);

  appearance: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: var(--bg);
  color: var(--col) !important;
  text-decoration: none !important;
  padding: var(--button-verts) var(--button-sides);
  border-radius: var(--button-radius);
  box-shadow: var(--shadow);

  font-family: var(--font);
  font-size: var(--font-size);
  line-height: var(--line-height);

  transition-property: background-color, scale;
  transition-duration: var(--trans);
  transition-timing-function: var(--trans-function);

  &:hover {
    background-color: var(--bg-hov);

    transition-property: scale;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);
  }

  &:active {
    background-color: var(--bg-atv);
    scale: 0.98;
  }

  & > :global(.tabler-icon) {
    opacity: 0.8;
  }

  -webkit-app-region: no-drag;
  cursor: pointer;
}

.primary {
  --bg: oklch(var(--h3));
  --bg-hov: color-mix(in oklch, oklch(var(--h4)), oklch(var(--h3)) 80%);
  --bg-atv: color-mix(in oklch, oklch(var(--h4)), oklch(var(--h3)) 60%);
  --col: oklch(var(--b7));
  --shadow: var(--primary-shadow), 0 3px 12px oklch(var(--h4) / 32%), var(--interactable-outer);
  font-weight: var(--font-weight-medium);
}

.tab {
  --button-verts: 8px;
  --button-sides: 12px;
  gap: 6px;
  width: 200px;

  --bg: transparent;
  --bg-hov: oklch(var(--b4) / 60%);
  --bg-atv: oklch(var(--b4) / 80%);
  --col: oklch(var(--c2));
  --shadow: none;

  &.primary {
    --bg: oklch(var(--h4) / 20%);
    --bg-hov: oklch(var(--h4) / 25%);
    --bg-atv: oklch(var(--h4) / 30%);
    --col: oklch(var(--l3-c));
  }
}