.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: var(--pad);
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 6px;

  z-index: 1;
}

.name {
  font-size: 24px;
  line-height: 28px;
  color: oklch(var(--c1));
  font-weight: var(--font-weight-bold);
}

.artists {
  font-size: 20px;
  line-height: 24px;
  font-weight: var(--font-weight-medium);

  color: oklch(var(--c2) / 80%);

  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.artist {
  display: flex;

  & > a:not(:hover) {
    color: oklch(var(--c2));
  }
}

.type {
  color: oklch(var(--c3));
  font-size: 13px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;

  position: relative;
  z-index: 1;
}

.background {
  position: absolute;
  top: calc(-1 * var(--pad));
  left: calc(-1 * var(--pad));
  right: calc(-1 * var(--pad));
  height: 100px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  --mask: linear-gradient(0deg, transparent, white);
  mask-image: var(--mask);

  opacity: 0.1;

  pointer-events: none;

  display: none;
}

.art {
  z-index: 1;
  box-shadow: var(--item-big-glow), var(--standout-shadow);
  width: 100%;
  height: unset;
  aspect-ratio: 1 / 1;
}

.button {
  font-size: 0 !important;
  --button-sides: var(--button-verts);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  aspect-ratio: 1 / 1;
  width: var(--button-height);

  --button-height: 44px;
  --button-radius: 50px;

  margin-right: 4px;

  &:not(.buttonBig) {
    --bg: transparent !important;
    --bg-hov: oklch(var(--b2) / 20%) !important;
    --bg-atv: oklch(var(--b2) / 40%) !important;
    --shadow: none !important;

    --button-height: 36px;
    margin-right: unset;
  }
}
