.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px 12px;
}

.artist {
  display: flex;
  flex-direction: column;
  gap: 10px;

  color: oklch(var(--c2)) !important;
  text-decoration: none !important;

  &:hover {
    .art {
      transform: translateY(-2px) scale(1.02);
    }

    .name {
      color: oklch(var(--l3-c));
    }
  }

  animation-name: show;
  animation-duration: 0.5s;
  animation-timing-function: var(--trans-function);
  animation-delay: var(--delay, 0s);
  animation-fill-mode: backwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.name {
  transition-property: color;
  transition-duration: var(--trans);
  transition-timing-function: var(--trans-function);
}

.meta {
  font-size: 13px;
  color: oklch(var(--c2) / 80%);
}

.art {
  --w: auto !important;
  border-radius: var(--item-small-radius) !important;

  transform: translateY(0) scale(1);

  transition-property: box-shadow, transform;
  transition-duration: 0.4s;
  transition-timing-function: var(--trans-function-ani);
}
