.nav {
  -webkit-app-region: drag;
  padding: var(--pad);
  margin: calc(-1 * var(--pad));

  display: flex;
  align-items: center;
}

.main {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.controls {
  display: flex;
  gap: 2px;
}

.windowControl {
  --bg: transparent;
  --bg-hov: oklch(var(--b4) / 60%);
  --bg-atv: oklch(var(--b4) / 80%);
  --shadow: none;
  --button-sides: var(--button-verts);
  --button-verts: 9px;

  width: 34px;
  height: 34px;

  justify-content: center;
}