.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px 12px;

  &.single {
    display: flex;
    width: max-content;

    .album {
      width: 160px;
    }
  }

  pointer-events: auto;
}

.album {
  display: flex;
  flex-direction: column;
  gap: 10px;

  color: oklch(var(--c2)) !important;
  text-decoration: none !important;

  .art {
    --w: auto !important;
    border-radius: var(--item-small-radius) !important;
    box-shadow: var(--item-glow), var(--standout-shadow);

    outline: 2px solid transparent;

    transition-property: outline-color;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function-ani);
  }

  .meta {
    margin-top: 4px;
  }

  transition-property: opacity, background-color, scale;
  transition-duration: var(--trans);
  transition-timing-function: var(--trans-function);

  &:active {
    background-color: var(--bg-atv);
    scale: 0.98;
  }

  &:not(.visible) {
    opacity: 0;
  }

  &:hover {
    .art {
      outline-color: oklch(var(--l3-c));
      transition: none;
    }

    .name {
      color: oklch(var(--l3-c));
    }
  }

  animation-name: show;
  animation-duration: 0.5s;
  animation-timing-function: var(--trans-function);
  animation-delay: var(--delay, 0s);
  animation-fill-mode: backwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.albumSide {
  display: flex;
  align-items: center;
  background-color: var(--bg);
  color: oklch(var(--col)) !important;
  text-decoration: none !important;
  padding: var(--button-verts) var(--button-sides);
  border-radius: var(--button-radius);
  box-shadow: var(--shadow);

  font-family: var(--font);
  font-size: var(--font-size);
  line-height: var(--line-height);

  transition-property: background-color, scale;
  transition-duration: var(--trans);
  transition-timing-function: var(--trans-function);

  &:hover {
    background-color: var(--bg-hov);

    transition-property: scale;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);
  }

  &:active {
    background-color: var(--bg-atv);
    scale: 0.98;
  }

  & > :global(.tabler-icon) {
    opacity: 0.8;
  }

  -webkit-app-region: no-drag;
  cursor: pointer;

  --button-verts: 8px;
  --button-sides: 12px;
  gap: 10px;

  --bg: transparent;
  --bg-hov: oklch(var(--b4) / 60%);
  --bg-atv: oklch(var(--b4) / 80%);
  --col: var(--c2);
  --shadow: none;

  &.primary {
    --bg: oklch(var(--h4) / 20%);
    --bg-hov: oklch(var(--h4) / 25%);
    --bg-atv: oklch(var(--h4) / 30%);
    --col: var(--l3-c);
    font-weight: var(--font-weight-medium);
  }

  .art {
    --w: 36px;
    border-radius: var(--item-small-radius) !important;
  }

  .name {
    font-weight: inherit;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  .info {
    flex: 1;
  }

  .activeIndicator {
    flex-shrink: 0;
  }

  .meta {
    color: oklch(var(--col) / 80%);
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;

  transition-property: color;
  transition-duration: var(--trans);
  transition-timing-function: var(--trans-function);
}

.artists {
  color: oklch(var(--c2) / 60%);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.artist {
  & > .artistName {
    color: oklch(var(--c2) / 80%);
  }
}

.comma {
  padding-right: 3px;
}

.meta {
  font-size: 13px;
  color: oklch(var(--c3));
}

.listSide {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.loved {
  color: oklch(var(--l3-c));
}

.scrollerOverlay {
  position: relative;
  --b-w: 30px;
  --w: calc(var(--b-w) + (var(--pad) * 2));

  &:before, &:after {
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    width: var(--w);
    position: absolute;

    z-index: 3;
    opacity: 0;
    pointer-events: none;

    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: var(--trans-function);
  }

  &:before {
    left: calc(-1 * var(--pad));
    background: linear-gradient(90deg, oklch(var(--b5)), transparent);
  }

  &:after {
    right: calc(-1 * var(--pad));
    background: linear-gradient(270deg, oklch(var(--b5)), transparent);
  }

  &.leftOverlay {
    &:before {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &.rightOverlay {
    &:after {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &:not(:hover) {
    &:before, &:after {
      opacity: 0 !important;
    }

    .scrollerButton {
      opacity: 0 !important;
    }
  }
}

.scroller {
  --extend: 0px;

  overflow-x: auto;
  padding: 30px calc(var(--pad) + var(--extend));
  margin: -30px calc(-1 * (var(--pad) + var(--extend)));
  pointer-events: none;
}

.scrollerButton {
  pointer-events: auto;
  position: absolute;
  z-index: 10;

  --bg: transparent !important;
  --bg-hov: transparent !important;
  --bg-atv: transparent !important;
  --shadow: none !important;
  --col: oklch(var(--c1)) !important;

  top: 50%;
  --h: 64px;
  margin-top: calc(-1 * (var(--h) / 2));

  width: var(--b-w) !important;
  height: var(--h) !important;

  &.scrollerButtonLeft {
    left: 0;
  }

  &.scrollerButtonRight {
    right: 0;
  }

  font-size: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 0;

  &[disabled] {
    opacity: 0;
    pointer-events: none;
  }

  transition-duration: 1s !important;
}

.scrollerIcon {
  width: 24px !important;
  height: 24px !important;
}
